@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Select min and max age:</h2>
    <form>
        <div class="form-group">
            <label for="minAge">Min age:</label>
            <input type="number" class="form-control" id="minAge" name="minAge" min="0" max="100" value="0">
        </div>
        <div class="form-group">
            <label for="maxAge">Max age:</label>
            <input type="number" class="form-control" id="maxAge" name="maxAge" min="0" max="100" value="100">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div>
    <h2>People</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Primary Email</th>
                <th>Address</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People) {
                <tr>
                    <td><a href="People/Details">@person.FirstName @person.LastName</a></td>
                    <td>@person.Emails.FirstOrDefault()?.EmailAddress</td>
                    <td>@person.Address.Street &nbsp;&nbsp;&nbsp;@person.Address.City, @person.Address.State &nbsp;@person.Address.ZipCode</td>
                    <td>@person.Age</td>
                </tr>
            }
        </tbody>
    </table>
</div>
